@model List<webIEA.Dtos.MembersDto>

@{
    ViewBag.Title = "Member list";
}

<h2>Member List</h2> 

<table class="table">
    <tr>
        <th>
            @Resources.CultureDependent.FirstName
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Status
        </th>
        <th>
            Action
        </th>
    </tr>
    @foreach (var emp in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(x => emp.FirstName)
    </td>
    <td>
        @Html.DisplayFor(x => emp.Email)
    </td>
    <td>
        @Html.DisplayFor(x => emp.Phone)
    </td>
    @*<td>
        @Html.DisplayFor(x => emp.DOB)
    </td>*@
    @{
        if (emp.StatusID == 1)
        {
            <td>
                Pending
            </td>
        }
        else if (emp.StatusID == 2)
        {
            <td>
                Active
            </td>
        }
        else if (emp.StatusID == 3)
        {
            <td>
                Suspended
            </td>
        }
    }

    <td>
        @Html.ActionLink("Profile", "Details", new { id = emp.Id }, null) |
        @*@Html.ActionLink("Delete", "Delete", new { id = emp.Id }) |*@
        @Html.ActionLink("Edit", "Update", new { id = emp.Id }) |
        @Html.ActionLink("ChangeStatus", "UpdateMemberStatus", new { Id = emp.Id })
    </td>
</tr>

    }
</table> 