@model webIEA.Dtos.MembersDto

@{
    ViewBag.Title = "Profile details";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<style>

    input {
        border: 0;
        outline: 0;
    }

    select {
        border: 0;
        outline: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

    #spec_div > div > button {
        border: 0;
        outline: 0;
    }

        #spec_div > div > button > span {
            display: none;
        }

    select::-ms-expand {
        display: none;
    }
</style>

@Html.AntiForgeryToken()
@Html.Partial("_MemberNavbar")

<div class="form-horizontal">
    <h4>Profile details</h4>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { type = "hidden", @class = "form-control" } })

    <div class="form-group">

        @Html.LabelFor(model => model.FirstName)
        @Html.DisplayFor(model => model.FirstName)
        @Html.CheckBoxFor(model => model.FirstNamePublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.DisplayFor(model => model.LastName)
        @Html.CheckBoxFor(model => model.LastNamePublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.DisplayFor(model => model.Email)
        @Html.CheckBoxFor(model => model.EmailPublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DOB)
        @Html.DisplayFor(model => model.DOB)
        @Html.CheckBoxFor(model => model.DOBPublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })



    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BirthPlace)
        @Html.DisplayFor(model => model.BirthPlace)
        @Html.CheckBoxFor(model => model.BirthPlacePublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nationality)
        @Html.DisplayFor(model => model.Nationality)
        @Html.CheckBoxFor(model => model.FirstNamePublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone)
        @Html.DisplayFor(model => model.Phone)
        @Html.CheckBoxFor(model => model.PhonePublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GSM)
        @Html.DisplayFor(model => model.GSM)
        @Html.CheckBoxFor(model => model.GSMPublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Street)
        @Html.DisplayFor(model => model.Street)
        @Html.CheckBoxFor(model => model.StreetPublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PostalCode)
        @Html.DisplayFor(model => model.PostalCode)
        @Html.CheckBoxFor(model => model.PostalCodePublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Commune)
        @Html.DisplayFor(model => model.Commune)
        @Html.CheckBoxFor(model => model.CommunePublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PrivateAddress)
        @Html.DisplayFor(model => model.PrivateAddress)
        @Html.CheckBoxFor(model => model.PrivateAddressPublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PrivatePostalCode)
        @Html.DisplayFor(model => model.PrivatePostalCode)
        @Html.CheckBoxFor(model => model.PrivatePostalCodePublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })


    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.EmploymentStatusID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.EmploymentStatusID, new SelectList(Model.EmploymentStatuses, "Id", "Value"), "Select One", htmlAttributes: new { @disabled = "true" })

            @Html.CheckBoxFor(model => model.EmploymentStatusIDPublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Specialization, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" Id="spec_div">
            @{ if (Model.Specialization.Count == 0)
                {
                    <input type="text" id="Specialization" name="Specialization" disabled="true" />

                }
                else
                {
                    foreach (var item in Model.Specialization)
                    {
                        <input type="text" id="Specialization" name="Specialization" value="@item" disabled="true" />
                    }
                }
            }

            @Html.CheckBoxFor(model => model.SpecializationPublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })


        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TraneeComissionId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" Id="spec_div">
            @Html.ListBoxFor(x => x.TraneeComissionId, new SelectList(Model.TranieeCommission, "Id", "Value", Model.TraneeComissionId), new { multiple = "true", @disabled = "true", @class = "selectpicker" })

            @Html.CheckBoxFor(model => model.TraineeCommissionPublic, new { @onclick = "chnagestatus(this,name)", type = "checkbox", @class = "" })

        </div>
    </div>

</div>


<div>
    @Html.ActionLink("Update", "Update")
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>
    function chnagestatus(e, name) {
        debugger;
        var check = e.checked;
        var id = $('#Id').val();
        $.ajax({
            url: "/Members/BecomeMember/UpdateStatus",
            data: { "Id": id, "FieldName": name, "check": check },
            type: "GET",
            success: function (result) {
                debugger;
                alert('Status Changed')
            }
        });
    }
</script>