@model List<webIEA.Dtos.MembersDto>

@{
    ViewBag.Title = "Member list";
}
<style>

    input {
        border: 0;
        outline: 0;
    }

    select {
        border: 0;
        outline: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

    #spec_div > div > button {
        border: 0;
        outline: 0;
    }

        #spec_div > div > button > span {
            display: none;
        }

    select::-ms-expand {
        display: none;
    }
</style>

<h2>Member History</h2>


@foreach (var emp in Model)
{
    <div>
        <p>date</p>
        <div>


            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Become Member</h4>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => emp.FirstName)
                    @Html.DisplayFor(model => emp.FirstName)

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => emp.LastName)
                    @Html.DisplayFor(model => emp.LastName)
                   

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => emp.Email)
                    @Html.DisplayFor(model => emp.Email)
                    

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => emp.DOB)
                    @Html.DisplayFor(model => emp.DOB)
                   


                </div>

                <div class="form-group">
                    @Html.LabelFor(model => emp.BirthPlace)
                    @Html.DisplayFor(model => emp.BirthPlace)
                   

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => emp.Nationality)
                    @Html.DisplayFor(model => emp.Nationality)
                   

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => emp.Phone)
                    @Html.DisplayFor(model => emp.Phone)
                  

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => emp.GSM)
                    @Html.DisplayFor(model => emp.GSM)
                   

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => emp.Street)
                    @Html.DisplayFor(model => emp.Street)
                   

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => emp.PostalCode)
                    @Html.DisplayFor(model => emp.PostalCode)
                  

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => emp.Commune)
                    @Html.DisplayFor(model => emp.Commune)
                  

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => emp.PrivateAddress)
                    @Html.DisplayFor(model => emp.PrivateAddress)
                   

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => emp.PrivatePostalCode)
                    @Html.DisplayFor(Model => emp.PrivatePostalCode)
                   

                </div>


                <div class="form-group">
                    @Html.LabelFor(model => emp.EmploymentStatusID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => emp.EmploymentStatusID, new SelectList(emp.EmploymentStatuses, "Id", "Value", emp.EmploymentStatusID), "Select One", htmlAttributes: new { @disabled = "true" })

                          </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => emp.Specialization, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" Id="spec_div">
                        @{ if (emp.Specialization.Count == 0)
                            {
                                <input type="text" id="Specialization" name="Specialization" disabled="true" />

                            }
                            else
                            {
                                foreach (var item in emp.Specialization)
                                {
                                    <input type="text" id="Specialization" name="Specialization" value="@item" disabled="true" />
                                }
                            }
                        }

                      

                    </div>
                </div>   <div class="form-group">
                    @Html.LabelFor(model => emp.TraneeComissionId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" Id="spec_div">
                        @Html.ListBoxFor(x => emp.TraneeComissionId, new SelectList(emp.TranieeCommission, "Id", "Value", emp.TraneeComissionId), new { multiple = "true", @disabled = "true", @class = "selectpicker" })

                       
                    </div>
                    @* <input type="button" value="Add" onclick="AddRow()" />*@
                </div>

            </div>



        </div>
    </div>

}

