@model List<webIEA.Dtos.MembersDto>

@{
    ViewBag.Title = "Index";
}

<h2>Member List</h2>

<p>
    @Html.ActionLink("Create New", "CreateMember")
</p>

<table class="table">
    <tr>
        <th>
            @Resources.CultureDependent.FirstName     
        </th>
        <th>
         Email
        </th>
        <th>
           Phone
        </th>
        <th>
           DOB
            </th>
</tr>
    @foreach (var emp in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => emp.FirstName)
            </td>
            <td>
                @Html.DisplayFor(x => emp.Email)
            </td>
            <td>
                @Html.DisplayFor(x => emp.Phone)
            </td>
            <td>
                @Html.DisplayFor(x => emp.DOB)
            </td>
            <td>
                @Html.ActionLink("Profile" ,"MemberDetails", new { id = emp.Id }, null) |
                @Html.ActionLink("Delete", "Delete", new { id = emp.Id })
                @Html.ActionLink("Edit", "UpdateMember", new { id = emp.Id })
            </td>
        </tr>

    }
</table> 