<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IAE - IEA - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container lang">
            <div class="language">
                <a href="/Accueil.aspx?lang=nl-be" title="Dutch" class="">
                    NL
                </a>
                <a href="/Accueil.aspx?lang=en-us" title="English" class="selected">
                    EN
                </a>
                <a href="/Accueil.aspx?lang=fr-be" title="French" class="">
                    FR
                </a>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img id="imgImage" src="~/Content/Images/Logo-couleur.png" width="200" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="connect_ep">
                    <a class="page-scroll" href="/Connexion.aspx">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <span class="hidden-md hidden-lg hidden-xl">Sign in</span>
                    </a>
                </div>

                <ul class="nav navbar-nav navbar-right navhome">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/Member/Register">Become Member</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="~/Members/BecomeIntern">Become Intern</a>
                    </li>

                    @if (!string.IsNullOrEmpty(Convert.ToString(Session["Email"])))
                    {
                        <li>
                            @Html.ActionLink("My History", "MyHistory", "Member")
                        </li>
                        <li>
                            @Html.ActionLink("Change Password", "ChangePassword", "Member", new { @mId = Convert.ToInt32(Session["loginUserId"]) }, null)
                        </li> 
                        <li>
                            <a class="page-scroll" href="~/Login/Logout">Logout</a>

                            @Html.Raw(Convert.ToString(Session["Email"]))

                            @Html.Raw(" As " + Enum.GetName(typeof(webIEA.Dtos.IEARoles), Convert.ToInt32(Session["Role"])))
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="page-scroll" href="~/Login">Sign-In</a>
                        </li>
                    }


                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="container body-content">
        <div class="p-5" style="margin-bottom: 10rem; margin-top: 10rem;">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <section id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="logo">
                                <img src="~/Content/Images/305.png" alt="" width="160">


                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <h3>Institute&nbsp;for automotive&nbsp; Experts</h3>

                            <p>
                                Boulevard de la Woluwe&nbsp;46, Bte&nbsp;5<br>
                                1200 BRUSSEL<br>
                                <br>
                                BE 0545.994.192<br>
                                <br>
                                Tel : 02/880.40.47<br>
                                Fax : 02/763.41.83<br>
                                E-mail :&nbsp;<a href="mailto:info@iaeiea.be">info@iaeiea.be</a>
                            </p>

                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <h3>LEARN more</h3>

                            <ul>
                            </ul>

                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
