@model Flexpage.Abstract.DTO.EventViewModel

<div class="news-container tabbed-news-record">
    <div class="news-record-image">
        @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
        {
            <img class="LOG-image" src="@Model.ImageUrl" />
        }
    </div>
    <div class="news-record-text-content">
        <div class="title" style="text-transform:uppercase;">@Model.StartDate.ToString("dd/MM/yy")</div>
        <h3 class="main-title">@Model.Title</h3>
        <div class="content" style="margin-top:20px;">
            @Html.Raw(Model.ViewText)
        </div>
        <div>
            <a href="@string.Format("{0}?newsRecordID={1}", Model.FullNewsPageUrl, Model.ID)" class="btn btn-khaki">LINK TO ENVENBRITE</a>
        </div>
    </div>
</div>
