@model webIEA.Dtos.MembersDto

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MemberProfile/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    <h4>Profile Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstNamePublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstNamePublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastNamePublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastNamePublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOBPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOBPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthPlacePublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthPlacePublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NationalityPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NationalityPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguageID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguageIDPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguageIDPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhonePublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhonePublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GSMPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GSMPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCodePublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCodePublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commune)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commune)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommunePublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommunePublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrivateAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivateAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrivateAddressPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivateAddressPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrivatePostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivatePostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrivatePostalCodePublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrivatePostalCodePublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusIDPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusIDPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

         

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
